
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{

    min-height:100vh;

    background:linear-gradient(135deg,#751f8f 0%,#a057aa 45%,#d6a2ee6b 100%);

}


.contenedor{

    width:100%;
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:40px 20px;

}

.contenido{

    width:100%;
    max-width:760px;

}



h1{

    text-align:center;

    color:#563dc8;

    font-size:42px;

    font-weight:400;

    margin-bottom:18px;

}



.formulario{

    background:#fff;

    border-radius:12px;

    padding:28px 34px;

    box-shadow:0 10px 30px rgba(0,0,0,.18);

}

.formulario h2{

    text-align:center;

    color:#222;

    margin-bottom:22px;

    font-size:17px;

}

/* ====== GRID ====== */

form{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:18px;

}

.grupo{

    display:flex;

    flex-direction:column;

}

.grupo label{

    font-size:13px;

    font-weight:bold;

    text-align:center;

    margin-bottom:6px;

}

.grupo input,
.grupo select{

    width:100%;

    height:38px;

    padding:8px 10px;

    border:1px solid #d6d6d6;

    border-radius:5px;

    outline:none;

    font-size:14px;

    transition:.2s;

}

.grupo input[type="file"]{

    padding:6px;

}

.grupo input:focus,
.grupo select:focus{

    border:1px solid #5949df;

    box-shadow:0 0 5px rgba(89,73,223,.2);

}



button{

    grid-column:1/3;

    height:42px;

    margin-top:8px;

    border:none;

    border-radius:5px;

    background:#5342dd;

    color:white;

    font-size:15px;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    background:#4331cf;

}



footer{

    margin-top:18px;

    text-align:center;

    color:white;

    font-size:13px;

}



@media(max-width:768px){

form{

grid-template-columns:1fr;

}

button{

grid-column:1;

}

h1{

font-size:30px;

}

.formulario{

padding:20px;

}

}
.grupo textarea{

    width:100%;
    padding:10px;
    border:1px solid #d6d6d6;
    border-radius:5px;
    resize:none;
    font-size:14px;
    outline:none;

}

.grupo textarea:focus{

    border:1px solid #5949df;

}